* {
    offset: 0;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    background-image: url(./resources/galaxy.jpg);
    background-position: 0% 0%;
    background-size: auto;
    animation: 20s linear 0s infinite leftToRight_Win, 10s linear 0s infinite topToBottom_Win;
    transition: 2s;
}

#curtain{
    display: flex;
    position: fixed;
    width: 150%;
    background: rgba(255,255,255,1.0);
    height: 150%;
    background-image: url(./resources/sad/sadness.jpg);
    background-position: 0% 0%;
    animation: 30s linear 0s infinite leftToRight, 30s linear 0s infinite topToBottom;
    background-size: 150vw 150vh;
    transition: 2s;
    left: 0;
    top: 0;
    z-index: -200;
}

main{
    display: flex;
    box-sizing: border-box;
}

canvas {
    display: flex;
    transform: scale(1);
    align-items: center;
    justify-content: center;
    transition: ease-out;
    transition-duration: 0.3s;
    border: 10px solid rgba(255,255,255,0.9);
    border-radius: 8%;
}

#zoomsection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 1s;
}

section h3 {
    display: flexbox;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    color: silver;

}

#zoomer {
    display: flex;
}

div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    width: 100%;
    height:20%;
}

div h3 {
    text-shadow: white 2px 2px;
    width:100%;
}

@keyframes leftToRight{
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1500px;
    }
}

@keyframes topToBottom {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -3650px;
    }
}

@keyframes leftToRight_Win{
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -3840px;
    }
}

@keyframes topToBottom_Win{
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: -2160px;
    }
}

@keyframes topLeft-botRight {
    0% {
        background-position: 100px;
    }
}